<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.data.epc.dao.mapper.cart.EpcCartGoodsDOMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.data.epc.bean.entity.cart.EpcCartGoodsDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="cart_id" property="cartId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_sn" property="goodsSn" jdbcType="VARCHAR" />

    <result column="part_name" property="partName" jdbcType="VARCHAR" />
    <result column="oe_number" property="oeNumber" jdbcType="VARCHAR" />
    <result column="goods_number" property="goodsNumber" jdbcType="INTEGER" />

    <result column="seller_id" property="sellerId" jdbcType="INTEGER" />
    <result column="seller_telephone" property="sellerTelephone" jdbcType="VARCHAR" />
    <result column="seller_company_name" property="sellerCompanyName" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, cart_id, goods_id, goods_sn, part_name, oe_number,
    goods_number, seller_id, seller_telephone, seller_company_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from epc_cart_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from epc_cart_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.tqmall.data.epc.bean.entity.cart.EpcCartGoodsDO" >
    insert into epc_cart_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="cartId != null" >
        cart_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsSn != null" >
        goods_sn,
      </if>

      <if test="partName != null" >
        part_name,
      </if>
      <if test="oeNumber != null" >
        oe_number,
      </if>
      <if test="goodsNumber != null" >
        goods_number,
      </if>

      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="sellerTelephone != null" >
        seller_telephone,
      </if>
      <if test="sellerCompanyName != null" >
        seller_company_name,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="cartId != null" >
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsSn != null" >
        #{goodsSn,jdbcType=VARCHAR},
      </if>

      <if test="partName != null" >
        #{partName,jdbcType=VARCHAR},
      </if>
      <if test="oeNumber != null" >
        #{oeNumber,jdbcType=VARCHAR},
      </if>
      <if test="goodsNumber != null" >
        #{goodsNumber,jdbcType=INTEGER},
      </if>

      <if test="sellerId != null" >
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="sellerTelephone != null" >
        #{sellerTelephone,jdbcType=VARCHAR},
      </if>
      <if test="sellerCompanyName != null" >
        #{sellerCompanyName,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.data.epc.bean.entity.cart.EpcCartGoodsDO" >
    update epc_cart_goods
    <set >
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="cartId != null" >
        cart_id = #{cartId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsSn != null" >
        goods_sn = #{goodsSn,jdbcType=VARCHAR},
      </if>

      <if test="partName != null" >
        part_name = #{partName,jdbcType=VARCHAR},
      </if>
      <if test="oeNumber != null" >
        oe_number = #{oeNumber,jdbcType=VARCHAR},
      </if>
      <if test="goodsNumber != null" >
        goods_number = #{goodsNumber,jdbcType=INTEGER},
      </if>

      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="sellerTelephone != null" >
        seller_telephone = #{sellerTelephone,jdbcType=VARCHAR},
      </if>
      <if test="sellerCompanyName != null" >
        seller_company_name = #{sellerCompanyName,jdbcType=VARCHAR},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByCartGoods" resultMap="BaseResultMap" >
    select id, goods_number
    from epc_cart_goods
    where cart_id = #{cartId,jdbcType=INTEGER}
    and goods_id = #{goodsId,jdbcType=INTEGER}
    and is_deleted = 'N'
  </select>

  <select id="selectListByCart" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from epc_cart_goods
    where cart_id = #{cartId,jdbcType=INTEGER}
    and is_deleted = 'N'
  </select>

  <select id="countCartGoodsAmount" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(id)
    from epc_cart_goods
    where cart_id = #{cartId,jdbcType=INTEGER}
    and is_deleted = 'N'
  </select>

</mapper>