<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <!-- SpringMVC自动注册 -->
    <mvc:annotation-driven />

    <context:component-scan base-package="com.tqmall.data.epc.web">
        <context:exclude-filter type="assignable" expression="com.tqmall.data.epc.web.webSocket.Server" />
    </context:component-scan>

    <!--读取配置文件-->
    <import resource="properties.xml"/>


    <mvc:default-servlet-handler/>

    <!--freemarker 路径配置-->
    <bean id="freemarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="preferFileSystemAccess" value="false"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">0</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="number_format">#.##</prop>
                <prop key="classic_compatible">true</prop>
                <prop key="template_exception_handler">ignore</prop>
            </props>
        </property>
    </bean>

    <!--freemarker数据暴露-->
    <bean id="freeMarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".ftl"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="requestContextAttribute" value="request"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="exposeRequestAttributes" value="true"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="order" value="1"/>
    </bean>

    <!-- html视图解析器 -->
    <bean id="htmlViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".html"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="order" value="2"/>
    </bean>

    <!--拦截器-->
    <mvc:interceptors>
        <!--拦截要经过爬虫设置的请求-->
        <mvc:interceptor>
            <mvc:mapping path="/epc/test/**"/>
            <bean id="spiderInterceptor" class="com.tqmall.data.epc.web.interceptor.SpiderInterceptor"/>
        </mvc:interceptor>

        <!--拦截所有请求，如果被封锁，则所有页面无法访问-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/epc/captcha/index" />
            <mvc:exclude-mapping path="/**/resources/**" />
            <mvc:exclude-mapping path="/img/**" />
            <mvc:exclude-mapping path="/static/**" />
            <bean class="com.tqmall.data.epc.web.interceptor.AllFtlInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 文件上传表单的视图解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

</beans>

