<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.data.epc.dao.mapper.goods.GoodsQuoteDOMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.data.epc.bean.entity.goods.GoodsQuoteDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="car_id" property="carId" jdbcType="INTEGER" />
    <result column="quoted_price" property="quotedPrice" jdbcType="DECIMAL" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="seller_login_id" property="sellerLoginId" jdbcType="INTEGER" />
    <result column="goods_quality" property="goodsQuality" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="is_available" property="isAvailable" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id, car_id, quoted_price, company, seller_login_id, goods_quality, brand_id, brand_name,
    gmt_modified, is_available
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from epc_goods_quote
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from epc_goods_quote
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tqmall.data.epc.bean.entity.goods.GoodsQuoteDO" >
    insert into epc_goods_quote (id, is_deleted, gmt_modified, 
      gmt_create, goods_id, car_id, 
      quoted_price, company)
    values (#{id,jdbcType=INTEGER}, #{isDeleted,jdbcType=CHAR}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{goodsId,jdbcType=INTEGER}, #{carId,jdbcType=INTEGER}, 
      #{quotedPrice,jdbcType=DECIMAL}, #{company,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tqmall.data.epc.bean.entity.goods.GoodsQuoteDO" >
    insert into epc_goods_quote
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
      <if test="quotedPrice != null" >
        quoted_price,
      </if>
      <if test="company != null" >
        company,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="quotedPrice != null" >
        #{quotedPrice,jdbcType=DECIMAL},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.data.epc.bean.entity.goods.GoodsQuoteDO" >
    update epc_goods_quote
    <set >
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="carId != null" >
        car_id = #{carId,jdbcType=INTEGER},
      </if>
      <if test="quotedPrice != null" >
        quoted_price = #{quotedPrice,jdbcType=DECIMAL},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tqmall.data.epc.bean.entity.goods.GoodsQuoteDO" >
    update epc_goods_quote
    set is_deleted = #{isDeleted,jdbcType=CHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      goods_id = #{goodsId,jdbcType=INTEGER},
      car_id = #{carId,jdbcType=INTEGER},
      quoted_price = #{quotedPrice,jdbcType=DECIMAL},
      company = #{company,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByGoodsCar" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from epc_goods_quote
    where goods_id = #{goodsId}
    and car_id = #{carId}
    and is_deleted = 'N'
  </select>

</mapper>