body {
    position: relative;
    line-height: 1.4;
    color: #737373;
    /*background: #e9ecf3;*/
    background: url(/img/captcha/captcha.png) repeat ;
    min-height: 700px;
    font-family: arial, sans-serif;
}
.container {
    width: 90%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: hidden;
    height: 320px;
}
.page{
    max-width: 90%;
    height: 220px;
    padding: 30px 20px 50px;
    border: 1px solid #b3b3b3;
    margin: 0 auto;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}
.logo{
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo span{
    display: block;
    font-size: 40px;
    color: #3BB8DD;
    font-weight: bold;
}
.title{
    clear: both;
    text-align: center;
    /*padding-top: 210px;*/
}
h1{
    font-size: 30px;
    /*color: #b4dcba;*/
    font-weight: bold;
    /*margin-top: 40px;*/
}
h2 {
    font-size: 23px;
    font-style: normal;
    text-align: center;
    font-weight: normal;
    color: #b5ddba;
    margin-bottom: -15px;
}
a{
    text-decoration: none;
}
.home-bottom  {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 14px;
    width: 100%;
    margin: 30px auto;
    text-align: center;
    background: none !important;
}
.left{
    float: left;
}
.right{
    float: right;
}
