<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.data.epc.dao.mapper.sys.EpcPageUriDOMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.data.epc.bean.entity.sys.EpcPageUriDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="page_uri" property="pageUri" jdbcType="VARCHAR" />
    <result column="need_guide" property="needGuide" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, page_uri, need_guide
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from epc_page_uri
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertSelective" parameterType="com.tqmall.data.epc.bean.entity.sys.EpcPageUriDO" >
    insert into epc_page_uri
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="pageUri != null" >
        page_uri,
      </if>
      <if test="needGuide != null" >
        need_guide,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="pageUri != null" >
        #{pageUri,jdbcType=VARCHAR},
      </if>
      <if test="needGuide != null" >
        #{needGuide,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.data.epc.bean.entity.sys.EpcPageUriDO" >
    update epc_page_uri
    <set >
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="pageUri != null" >
        page_uri = #{pageUri,jdbcType=VARCHAR},
      </if>
      <if test="needGuide != null" >
        need_guide = #{needGuide,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectNeedGuideUris" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from epc_page_uri
    where need_guide = 1
    and is_deleted = 'N'
  </select>

</mapper>